@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2b2a2a;
    color: white;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}
nav{
    width: 80%;
    background-color: #4c3f58;
    margin-top: 20px;
    border-radius: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav li{
    cursor: pointer;
    position: relative;

}
nav li::after{
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: lightgreen;
    transition: width .2s;
}
nav li:hover::after{
    width: 100%;
}
li img{
    width: 200px;
    padding: 0;
    cursor: pointer;
}
li:not( .img) {
    padding: 20px;
    margin-top: 35px;
}
main{
    width: 80%;
    background-color: #463a50;
    height: fit-content;
    border-radius: 20px;
    margin-top: 50px;
    
}
#O_mnie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.text{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}
.img{
    margin-left: 40px;
}
.image img{
    transition: .5s;
    cursor: pointer;
}
.image img:hover{
    scale: 1.1;
    transition: .5s;
}
#WhatDoIDo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.textwdid{
    width: 35%;
    margin-left: 20px;
    text-align: center;
}

#Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.Biblioteka, .explorator, .todo, .rpg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.Biblioteka img, .explorator img, .todo img, .rpg img{
    transition: .4s;
    cursor: pointer;
}
.Biblioteka img:hover, .explorator img:hover, .todo img:hover, .rpg img:hover{
    transition: .4s;
    cursor: pointer;
    scale: 1.05;
}
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(226, 130, 130); 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 20%; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

  #Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Contact h2{
    transition: .3s;
    cursor: pointer;
  }
  #Contact{
    padding-bottom: 50px;
  }
  #Contact h2:hover {
   scale: 1.1;
    transition: .3s
  }